<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveServerProfileId</key>
	<string>34D62F37-703A-49FE-AFCF-BF4E84E137AD</string>
	<key>LaunchAtLogin</key>
	<true/>
	<key>LocalSocks5.ListenPort.Old</key>
	<integer>1086</integer>
	<key>NSNavLastRootDirectory</key>
	<string>~/OneDrive - AD/shadesocksxg</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{712, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>511</real>
	<key>ServerProfiles</key>
	<array>
		<dict>
			<key>EnabledKcptun</key>
			<false/>
			<key>Id</key>
			<string>D7A3CE7B-7FD4-4210-9D9A-5BE495544EAA</string>
			<key>KcptunProfile</key>
			<dict>
				<key>arguments</key>
				<string></string>
				<key>crypt</key>
				<string>aes</string>
				<key>datashard</key>
				<integer>10</integer>
				<key>key</key>
				<string>it's a secrect</string>
				<key>mode</key>
				<string>fast</string>
				<key>mtu</key>
				<integer>1350</integer>
				<key>nocomp</key>
				<false/>
				<key>parityshard</key>
				<integer>3</integer>
			</dict>
			<key>Method</key>
			<string>rc4-md5</string>
			<key>OTA</key>
			<false/>
			<key>Password</key>
			<string>stoneshadesocks</string>
			<key>Remark</key>
			<string>138.128.206.106</string>
			<key>ServerHost</key>
			<string>138.128.206.106</string>
			<key>ServerPort</key>
			<integer>7800</integer>
		</dict>
		<dict>
			<key>EnabledKcptun</key>
			<false/>
			<key>Id</key>
			<string>34D62F37-703A-49FE-AFCF-BF4E84E137AD</string>
			<key>KcptunProfile</key>
			<dict>
				<key>arguments</key>
				<string></string>
				<key>crypt</key>
				<string>aes</string>
				<key>datashard</key>
				<integer>10</integer>
				<key>key</key>
				<string>it's a secrect</string>
				<key>mode</key>
				<string>fast</string>
				<key>mtu</key>
				<integer>1350</integer>
				<key>nocomp</key>
				<false/>
				<key>parityshard</key>
				<integer>3</integer>
			</dict>
			<key>Method</key>
			<string>chacha20-ietf-poly1305</string>
			<key>OTA</key>
			<false/>
			<key>Password</key>
			<string>stoneshadesocks</string>
			<key>Remark</key>
			<string>cn2</string>
			<key>ServerHost</key>
			<string>65.49.212.232</string>
			<key>ServerPort</key>
			<integer>7800</integer>
		</dict>
		<dict>
			<key>EnabledKcptun</key>
			<false/>
			<key>Id</key>
			<string>6E4FCF65-6FA1-4DB9-9E2C-255F596FEF71</string>
			<key>KcptunProfile</key>
			<dict>
				<key>arguments</key>
				<string></string>
				<key>crypt</key>
				<string>aes</string>
				<key>datashard</key>
				<integer>10</integer>
				<key>key</key>
				<string>it's a secrect</string>
				<key>mode</key>
				<string>fast</string>
				<key>mtu</key>
				<integer>1350</integer>
				<key>nocomp</key>
				<false/>
				<key>parityshard</key>
				<integer>3</integer>
			</dict>
			<key>Method</key>
			<string>chacha20-ietf-poly1305</string>
			<key>OTA</key>
			<false/>
			<key>Password</key>
			<string>stoneshadesocks</string>
			<key>Remark</key>
			<string>aliyun-国内</string>
			<key>ServerHost</key>
			<string>47.93.205.175</string>
			<key>ServerPort</key>
			<integer>7800</integer>
		</dict>
	</array>
	<key>ShadowsocksOn</key>
	<false/>
	<key>ShadowsocksRunningMode</key>
	<string>auto</string>
</dict>
</plist>
